/* .image-slider {
  position: relative;
  overflow: hidden;
}

.slider-container {
  display: flex;
  flex-wrap: nowrap;
}

.slider-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
} */

.image-slider {
  position: relative;
  overflow: hidden;
}

.slider-container {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
}

.slider-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}

/* Add some basic animation to the slider */

/* .slider-container {
  animation: slider 5s infinite;
} */
/* 
@keyframes slider {
  0% {
    left: 0;
  }
  100% {
    left: -50%; /* Adjust this value based on the number of images =/
  }
} */
