/* .image-slider {
  position: relative;
  overflow: hidden;
}

.slider-container {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
}

.slider-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
} */

/* ======== */
.image-slider {
  position: relative;
  width: 100%; /* Full width of the container */
  overflow: hidden; /* Hide any overflow */
}

.slider-container {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease; /* Smooth transition for scrolling */
  scroll-snap-type: x mandatory; /* Enable scroll snapping horizontally */
  scroll-behavior: smooth; /* Smooth scroll on manual or programmatic scroll */
}

.slider-container img {
  width: 300px; /* Image width */
  height: 300px; /* Image height */
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px; /* Space between images */
  scroll-snap-align: center; /* Ensure images snap to the center */
}

.image-slider::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Add some basic animation to the slider */

/* .slider-container {
  animation: slider 5s infinite;
} */
/* 
@keyframes slider {
  0% {
    left: 0;
  }
  100% {
    left: -50%; /* Adjust this value based on the number of images =/
  }
} */
