.navbar {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a.active {
  color: #ccc;
}

.navbar a:hover {
  color: #ccc;
}
